@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2%;
    display: flex;
}

header {
    margin-bottom: 150px;
    border-bottom: 2px solid #0093E9;
}

.btn-modoescuro {
    text-align: right;
    width: 80%;
}

.btn-modoescuro > button {
    font-size: 1em;
    padding: 2%;
    border-radius: 15px;
}

h1 {
    font-size: 2em;
    width: 80%;
}

main {
    text-align: center;
    margin: 0 auto;
    background-color: #0093E9;
    width: 50%;
    border-radius: 15px;
    padding: 2%;
    font-size: 2em;
}

main > p {
    margin-bottom: 10%;
}

main > input {
    margin-bottom: 5%;
    font-size: 1em;
    width: 20%;
    text-align: center;
    padding: 2%;
    border-radius: 15px;
}

main > button {
    font-size: 1em;
    padding: 2%;
    border-radius: 15px;
}

#tabela-tabuada {
    margin: 10% auto;
}

footer {
    margin-top: 50vh;
    text-align: center;
    background-color: #0093E9;
    padding: 2%;
}